body {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: black;
}
.description {
  margin-left: 400px;
  font-size: 15px;
  color: gray;
}
input[type="text"] {
  margin-left: 400px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 400px;
  height: 35px;
  display: inline-flex;
}
.number {
  margin-left: 400px;
  font-size: 15px;
  color: gray;
}
.tab {
  margin-left: 245px;
  color: blue;
}
ul li {
  position: relative;
  margin: 10px;
  padding: 12px 8px 10px 20px;
  width: 550px;
  margin-left: 350px;
  list-style-type: none;
  background: #b4b4b4;
  color: white;
  font-size: 18px;
  transition: 0.2s;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: white;
}
ul li:hover {
  background: violet;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.addBtn {
  padding: 10px;
  width: 100px;
  background: violet;
  color: white;
  margin-left: 0px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}
.addBtn:hover {
  background-color: white;
  color: violet;
}
